{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <div class="
        {% if project.status == 1 %} border-success {% endif %}
        {% if project.status == 2 %} border-danger {% endif %}
        {% if project.status == 3 %} border-warning {% endif %}
        border-3 main-header d-flex justify-content-between align-items-center py-3">
        {% include '_components/_project_header.html.twig' %}
    </div>

    <div class="container mt-5">

        <div class="d-flex">
            <section class="container">
                <div class="section-header-project-detail">
                    <turbo-frame id="{{ project.id }}">
                        <div>
                            <p class="h3">{{ project.name }}</p>
                            <p class="h6 fw-normal text-secondary">{{ project.application.name }}</p>
                        </div>
                        <div class="my-4">{{ project.description }}</div>
                        {% if project.status == 1 %}
                            <a href="{{ path('app_project_crud_edit', {'slug': project.slug}) }}"
                               class="btn btn-outline-primary btn-edit">
                                <img src="{{ asset('images/edit.svg') }}" alt="Modifier" class="img-fluid">
                            </a>
                        {% endif %}
                    </turbo-frame>
                </div>
                {% if project.status == 1 %}
                    <div class="p-0 mt-3">
                        {{ form_start(form) }}
                        <p class="fw-semibold">Ajouter une fonctionnalité</p>
                        <div class="d-flex align-content-end justify-content-between gap-3">
                            <div class="w-100">{{ form_widget(form.category) }}</div>
                            <div class="w-100">{{ form_widget(form.name) }}</div>
                            <button type="submit" class="w-auto d-inline btn btn-sm btn-outline-success" formnovalidate>
                                Ajouter
                            </button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                {% endif %}
            </section>

            <twig:CardLevel :project="project"></twig:CardLevel>
        </div>
    </div>

    {% include '_components/_modal_project.html.twig' with {'project': project, 'modalStatus': modalStatus} %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
