<nav class="navbar bg-light px-3 vh-100 d-flex flex-column">
    <a class="d-block text-dark mb-5 mt-3" href="{{ path('app_home') }}">NB</a>
    <ul class="navbar-nav mb-auto">
        <li class="nav-item">
            <a href="{{ path('app_project_crud_index') }}" class="nav-link">
                <img class="img-fluid" src="{{ asset('images/project.svg') }}" alt="Projets">
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('app_category_crud_index') }}" class="nav-link">
                <img class="img-fluid" src="{{ asset('images/category.svg') }}" alt="Catégories">
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('app_feature_crud_index') }}" class="nav-link">
                <img class="img-fluid" src="{{ asset('images/feature.svg') }}" alt="Fonctionnalités">
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('app_home') }}" class="nav-link">
                <img class="img-fluid" src="{{ asset('images/user.svg') }}" alt="mon compte">
            </a>
        </li>
        <li class="nav-item mt-5">
            <a href="{{ path('app_logout') }}" class="nav-link">
                <img class="img-fluid" src="{{ asset('images/power.svg') }}" alt="logout">
            </a>
        </li>
    </ul>
</nav>