
<nav class="navbar bg-light px-3 vh-100 d-flex flex-column">
    <span class="d-block text-dark mb-5 mt-3">NB</span>
    <ul class="navbar-nav mb-auto">
        <li class="nav-item">
            <a href="{{ path('app_project_list') }}" class="nav-link">
                <img class="img-fluid" src="{{ asset('images/project.svg') }}" alt="projets">
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('app_home') }}" class="nav-link">
                <img class="img-fluid" src="{{ asset('images/user.svg') }}" alt="mon compte">
            </a>
        </li>
        <li class="nav-item mt-5">
            <a href="{{ path('app_logout') }}" class="nav-link">
                <img class="img-fluid" src="{{ asset('images/power.svg') }}" alt="logout">
            </a>
        </li>
    </ul>
</nav>