<section{{ attributes }}>
    <div class="main-project">
        {% for project in this.projects %}
            <div class="mb-sm-0">
                <a class="card-link {{ STATUS[project.status] }}"
                   href="{{ path('app_project_crud_show', {slug: project.slug}) }}">
                    <div class="card" data-status="{{ STATUS[project.status] }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ project.name }}</h5>
                            <small>{{ project.createdAt | date('d-m-Y') }}</small>
                            <div class="mt-1">
                                <span class="low price d-block {{ project.selected == 1 ? 'active' : '' }}">14920,60€</span>
                                <span class="middle price d-block {{ project.selected == 2 ? 'active' : '' }}">20630,90€</span>
                                <span class="high price d-block {{ project.selected == 3 ? 'active' : '' }}">41520,50€</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% else %}
            <div class="container-not-found d-flex flex-column mx-auto mt-5 text-center">
                <p class="h3 mb-5">Aucun projet correspond à vos critères</p>
                <img src="{{ asset('images/not_found.jpg') }}" alt="not found" class="img-fluid">
            </div>
        {% endfor %}
    </div>
    <div class="navigation me-3 mt-3">
        {{ knp_pagination_render(this.pagination) }}
    </div>
</section>
